.register-container {
    height: 100vh;
    background: url('background-images/account-bg.jpg');
    position: relative;
}
.register-container::before {
    content: '';
    background-color: var(--movie-body); 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.form-parent-container {
    border-radius: 0;
    background-color: var(--movie-card);
    border: none;
    box-shadow: -3px 6px 15px #535353;
}

.welcome {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -6px;
    color: var(--company-color);
    text-transform: uppercase;
    display: block;
}

.header-container-parent {
    text-align: center;
    margin-bottom: 37px;
}

.header-container-parent .title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.register-form .form-group label {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.register-container .form-group input {
    height: 45px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--company-color);
    padding-left: 0;
    background: transparent;
    color: #dbe2fb;
    width: 100%;
}

.register-container .form-group label span {
    color: #f1481f;
}

.register-container .form-group input:focus {
    outline: none;
}

.register-container .form-group {
    margin-bottom: 25px;
}

.register-container .form-group.checkgroup input {
    width: 16px;
    height: 0px;
    border-radius: 50%;
    position: relative;
    border: none;
    border-bottom: 1px solid #23334f;
    padding-left: 0;
}

.register-container .form-group.checkgroup input::after {
    content: '';
    bottom: -19px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #8080807a;
    color: #ffffff;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    position: absolute;
}

.register-container .form-group.checkgroup input:checked::after {
    content: "\f00c";
}

.form-group.checkgroup {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.register-container .form-group.checkgroup label {
    color: #dbe2fb;
    font-size: 14px;
    max-width: calc(100% - 15px);
    padding-left: 10px;
    margin-bottom: 0;
    margin-right: auto;
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

.register-container .form-group.checkgroup label a {
    color: var(--company-color);
    text-decoration: none;
}

.register-container .form-group input[type="submit"] {
    background-image: -webkit-linear-gradient( 169deg, #d8a518 0%, #d8a518 37%, #ad9e17 83%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 30px;
    width: auto;
    padding: 0 50px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: bold;
}

.register-container .form-group input[type="submit"]:hover {
    background-image: -webkit-linear-gradient( 169deg, #bb8c0c 0%, #bb8c0c 37%, #ad9e17 83%);
    transition: all 0.3s ease;
}

.form-parent-container .option {
    text-align: center;
    margin-bottom: 28px;
}

.form-parent-container .option a {
    color: var(--company-color);
    text-decoration: none;
}

.form-parent-container .or {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
}

.form-parent-container .or span{
    position: relative;
}

.form-parent-container .or span::after,.form-parent-container .or span::before {
    position: absolute;
    content: '';
    background-color: #bdbdbd;
    opacity: 0.502;
    height: 2px;
    width: 500px;
    top: 10px;
}
.form-parent-container .or span::before {
    right: calc(100% + 40px);
}
.form-parent-container .or span::after {
    left: calc(100% + 40px);
}
.forget-password {
    color: #dbe2fb !important;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none !important;
}